@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Slab&family=Source+Code+Pro&family=Titillium+Web&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Titillium Web', sans-serif; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Exo 2', sans-serif; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -vw 0;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.1);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.126); */
}
.user-profile img,
.dropbtn img {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}
#pfp {
  margin-right: 0.2vw;
}
/* #user {
  margin-bottom: 0.6vh;
} */
.user-profile,
.dropbtn {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dropbtn {
  border: none;
  background: none;
  /* padding: 0 1vw 0; */
  /* min-width: 10vw; */
  text-align: center;
}
.dropbtn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}

.user-nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -2vw;
  /* min-width: 10vw; */
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(250, 143, 143, 0.5);
}
#post-up {
  bottom: 100%;
}
.user-nav-dropdown:hover .dropdown-content {
  display: block;
}
html {
  /* background-color: rgba(0, 0, 255, 0.361); */
  /* background: url('https://media.istockphoto.com/photos/basketball-pattern-background-picture-id172776030?k=20&m=172776030&s=612x612&w=0&h=DeDmYjG3tS48MmwJVM3qJpI6Y1pFo6trW5y9CUlSeqE='),
    #6db3f2;
  background-size: cover; */
}
.logout-nav,
.home-nav {
  padding: 0 1vw 0;
}
.feed,
.feed2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#feed-login {
  min-height: 100vh;
  justify-content: center;
}
.profile,
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52vw;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 0vh;
  margin-bottom: 2vh;
}
.login-page {
  margin-top: 2vh;
}
#nav-logo {
  height: 8vh;
  width: 12vh;
  /* margin: -2vh -2vh -4vh -2vh; */
  padding: 5px 0;
  /* background-color: red; */
  transform: scaleX(-1);
}
a {
  color: black;
}
.home-nav {
  border-radius: 7px;
  margin-left: 1vh;
}
.chart_border {
  min-height: 30vh;
  width: 45vh;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%);
  flex-direction: column;
  align-items: center;
  margin: 5vh 0;
}
.chart_border:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.chart_container {
  min-height: 28vh;
  width: 40vh;
  /* height: 28vh;
  width: 50vh; */
}
#chart_border_create {
  height: 52vh;
  /* width: 80vh; */
  width: 45vw;
  /* align-items: stretch; */
}
#chart_border_create:hover {
  cursor: default;
  transform: none;
}
#chart_container_create {
  height: 35vh;
  width: 40vw;
}

.home_section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  min-height: 79vh;
}
.chart-wrapper {
  /* width: 90vw; */
  column-gap: 5vw;
  column-count: 3;
  /* display: flex; */
  align-items: center;
}
.chart {
  break-inside: avoid;
  page-break-inside: avoid;
  column-fill: balance;
}
.home {
  text-align: center;
  min-height: 75vh;
}
.home h1 {
  font-size: 80px;
}
.home img {
  height: 50vh;
}

.right_nav {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  align-items: center;
}
.google-sign-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13vw;
  padding: 0 2vh;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.google-sign-btn:hover,
.edit_chart:hover,
.edit_chart_true img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.google-sign-btn img {
  height: 3vh;
}
#GoogleSignIn {
  display: flex;
  justify-content: center;
  margin: 2vh 0 5vh 0;
}

#google-nav:hover,
.post_chart:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  cursor: pointer;
}
#google-nav:active,
.post_chart:active {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}
.signout_nav img {
  height: 2vh;
  margin-right: 1vw;
}
.signout_nav {
  display: flex;
  align-items: center;
  padding: 0 1vw;
  margin-top: 1vh;
}
.signout_nav:hover,
#nav-logo:hover,
.view_charts:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 15px;
}
.search_action img:hover,
.chart_action img:hover,
#exit:hover,
.edit_chart_true_bottom img:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.search_player:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.signout_nav:active,
#nav-logo:active,
.view_charts:active {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.view_charts {
  padding: 0 1vw;
}
.search_player {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 0.5px rgba(0, 0, 0, 0.069);
}
.search_player:hover {
  background: rgba(0, 0, 0, 0.03);
}
.search_player_name {
  display: flex;
  align-items: center;
}
#selected_player {
  background-color: black;
}
.search_results {
  overflow-y: scroll;
  height: 20vh;
  width: 40vw;
}
.search_placeholder {
  min-height: 20vh;
}

.search_player img {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  margin-right: 1vw;
  object-fit: cover;
}

.search_action img {
  height: 3vh;
  width: 3vh;
}
/* .search_action img {
  border: 1px solid black; */
/* } */
.chart_player_img img {
  height: 10vh;
  border-radius: 15px;
  margin-right: 1vw;
  object-fit: cover;
}
#create_prev_player img {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.player_img {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  margin-bottom: 2vh;
  overflow-x: auto;
}
.chart_action img {
  /* border-radius: 50%; */
  height: 3vh;
  /* position: relative; */
  /* left: -5vh; */
}

.chart_player_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete_chart {
  /* position: relative;
  left: 15vw;
  bottom: 31vh;
  margin-bottom: -5vh; */
  background-image: url(https://cdn-icons-png.flaticon.com/512/2891/2891491.png);
  background-repeat: no-repeat;
  min-height: 5vh;
  width: 5vw;
  /* height: 5vh;
  width: 2vw; */
  background-size: contain;
  margin-bottom: 2vh;
}
.delete_chart:hover {
  /* opacity: 0; */
  background: url(https://cdn-icons-png.flaticon.com/512/13/13514.png);
  background-repeat: no-repeat;
  height: 5vh;
  width: 5vw;
  background-size: contain;
  cursor: pointer;
  transform: scale(1.5) translateY(-10px);
}

.create_chart {
  display: flex;
  width: 45vw;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
input,
select {
  border-radius: 4px;
  border: 1px solid black;
  font-size: 15px;
}
.post_chart {
  width: 15vw;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 1vh 0;
  text-align: center;
  border-radius: 15px;
  margin: 3vh 0 3vh 0;
}
.input_create {
  display: flex;
  margin: 2vh 0;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
}
#search {
  flex-direction: column;
}
#title_input {
  width: 10vw;
}

#search_delete {
  height: 2vh;
  width: 2vh;
  position: relative;
  right: 0.5vh;
  /* top: 0.4vh; */
  margin-left: -1vw;
}
#search_delete:hover {
  cursor: pointer;
}
.searchbar_delete {
  width: 40vw;
  display: flex;
  align-items: center;
}

.searchbar_delete input {
  width: 100%;
}

#preview_img {
  border-radius: 10px;
  height: 8vh;
}
.preview_player {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  align-items: center;
  margin: 1vh;
}

.preview_players {
  display: flex;
  margin-bottom: 2vh;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 40vh;
  justify-content: space-between;
}
#preview_players_edit {
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 65vw;
}
.chart_container h1 {
  margin: 0 0 -3vh 0;
}
.chart_container p {
  margin: 3vh 0;
}
.preview_players p {
  margin: 0 1vh 1vh 1vh;
}

.preview_title {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}
.right_title p {
  margin: 0 0 0.5vh 0;
}
.right_title {
  text-align: end;
}
#full_chart_border {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 85vw;
  height: 85vh;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: auto;
}
#full_chart_border {
  cursor: default;
}

#full_chart_container {
  min-width: 75vw;
  min-height: 70vh;
  /* z-index: -1; */
}
.chart_info {
  /* display: flex; */
  text-align: start;
  width: 65vw;
}
#exit,
#confirm,
#cancel {
  position: fixed;
  height: 3vh;
  top: 9vh;
  right: 9vw;
  z-index: 10;
  padding: 1vh;
  /* background-color: white; */
}
#cancel {
  right: 0;
  left: 9vw;
}
.author_date {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.author_date p {
  font-style: italic;
}
.view_title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5vh 0;
}
#behind:hover {
  cursor: default;
  transform: scale(1);
}
.createchart_page {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}
textarea {
  width: 40vw;
  height: 18vh;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.description p {
  margin: -2vh 1.5vh 0 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.edit_chart {
  z-index: 10;
  position: fixed;
  left: 2vw;
  top: 2vh;
  /* background-color: white; */
  /* box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2); */
  padding: 1vh;
  border-radius: 15px;
  height: 3vh;
}

.edit_chart_true img {
  height: 3vh;
}
/* .edit_chart_true {
  z-index: 10;
  position: fixed;
  left: 2vw;
  top: 3vh;
  display: flex;
  width: 10vw;
  justify-content: space-between;
} */

#title_input_edit {
  font-size: 30px;
  width: 25vw;
  text-align: center;
  margin: 1vh;
}
.chart_action_view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#chart_action_view img {
  position: static;
  margin-bottom: -1vh;
}
.edit_titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#stat_edit {
  width: 15vw;
  margin: 2vh;
  max-height: 10vh;
  overflow: auto;
}
#search_edit {
  flex-direction: column;
  width: 65vw;
  align-items: center;
}
#description_edit {
  width: 65vw;
  align-items: center;
}
.edit_chart_true_bottom img {
  height: 3vh;
}
.edit_chart_true_bottom {
  display: flex;
  flex-direction: row;
  width: 78vw;
  justify-content: space-between;
  margin-bottom: -3vh;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.1); */
  background-color: rgb(0 0 0 / 0.03);
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}
.socials img {
  height: 3vh;
}
.info {
  display: flex;
  width: 30vw;
  justify-content: space-around;
}
.socials img:hover,
#portfolio:hover {
  transform: scale(1.5);
}
footer p,
#portfolio p {
  font-style: italic;
}
.options {
  display: flex;
  width: 35vw;
  justify-content: space-between;
  margin: 5vh 0;
}
.post-success {
  display: flex;
  flex-direction: column;
  min-height: 62vh;
  align-items: center;
  justify-content: space-around;
}
.chart-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .delete_chart {
    width: 3vh;
  }
  .socials {
    width: 65vw;
  }
  .post-success {
    margin: 5vh;
    min-height: 53vh;
  }
  .google-sign-btn {
    width: 50vw;
  }
  #GoogleSignIn-nav {
    display: flex;
    justify-content: center;
  }
  .home h1 {
    margin-bottom: 5vh;
  }
  .home h3 {
    margin: 5vh 0;
  }
  .signout_nav {
    margin-right: 2vw;
  }
  .chart-wrapper {
    display: flex;
    flex-direction: column;
  }
  .createchart_page {
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
  }
  #chart_border_create {
    width: 85vw;
    height: 40vh;
  }
  #chart_container_create {
    width: 80vw;
  }
  .create_chart,
  .input_create,
  .description,
  .input_create .search_results,
  select,
  .player_img,
  .options,
  .post-success img {
    width: 85vw;
  }
  .searchbar_delete {
    width: 85vw;
  }
  #search_delete {
    right: 6vw;
    /* top: 0.5vh; */
    height: 3vh;
    width: 3vh;
    margin-right: -3vh;
  }
  .input_create .search_results,
  textarea,
  input,
  select {
    padding: 2vw;
  }
  .input_create {
    flex-direction: column;
    min-height: 10vh;
  }

  textarea,
  #title_input,
  .searchbar_delete input {
    width: 80vw;
  }
  .player_img {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 80vw;
    /* box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%); */
    /* padding: 1vh;
    border-radius: 15px; */
  }
  .post_chart {
    width: 30vw;
  }
  #full_chart_container {
    width: 80%;

    /* height: 100vh; */
    /* height: 10vh; */
  }
  #full_chart_border {
    width: 100vw;
  }
  .chart_info,
  #description_edit,
  #search_edit,
  #title_input_edit,
  #stat_edit {
    width: 85vw;
  }
  .preview_players,
  #preview_players_edit {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 80vw;
    justify-content: space-between;
  }

  .edit_chart_true {
    position: static;
    margin: 1vh 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    width: 85vw;
    height: 5vh;
    justify-content: space-between;
  }
  .search_results {
    max-height: 15vh;
    height: auto;
  }
  #search,
  .search_placeholder {
    min-height: 0vh;
  }
  .view_charts:hover,
  #nav-logo:hover {
    box-shadow: none;
  }
  .view_charts h3 {
    font-size: 16px;
  }
  #exit {
    top: 8vh;
    right: 2vw;
  }

  .edit_chart {
    top: 1vh;
  }
  .edit_chart_true_bottom {
    margin-top: 2vh;
  }
}
